/* CSS reset */
body, p, h1, h2, h3, h4, h5, h6  {
    padding: 0;
    margin: 0;   
}

/* box model fix here*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {background-color:mistyrose;
    font-family: 'Poppins', sans-serif;
    background-image: url(images/gradient.png);
    background-repeat: repeat-x;
    background-color: #fbc5bc;
}


#wrapper {max-width:900px; 
        margin:0 auto;
    box-shadow: 5px 5px 10px black;

}

/* Header starts here*/
header {background-color:darkgray;
        background-image: url(MJcreative%20small.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 5rem;

}

header h1 {color:#2B4F5C;
    font-family: 'Amatic SC', cursive;
    margin-left: 50%;
    
}

header h2 {color: #BBF2D3; 
            margin-left: 400px;
            font-family: 'Open Sans Condensed', sans-serif;
        
}


/* Nav starts here*/


/*phone nav rules*/
@media only screen and (max-width: 800px) {
  nav {background-color: #F26B6B;
        padding: .5rem 2%;
    }


    nav ul.menu{
        list-style-type: none;
        padding: 0;
    }

    nav ul.menu li a{
        border: solid 3px #BBF2D3;
        display:block;
        padding: .5rem 2%;
        margin-bottom: 10px;
        background-color: #F26B6B;
        color: azure;
        border-radius: 15px;
        text-decoration: none;
         }

  nav ul.menu li.active a{
      background-color: #2B4F5C;}
      
      nav ul.menu li a:hover {
    background-color: rgb(255,156,159);}


}
 
/*end of phone*/



/* desktop nav rules */
@media only screen and (min-width:801px){
    nav {background-color:#F26B6B;}


nav ul.menu li {
    float: left;
    list-style-type: none;
}


nav ul.menu li a{
    display: block;
    padding: 10px 30px;
    color:azure;
    text-decoration: none;
    border-left: solid 3px #BBF2D3;
       
}

nav ul.menu li a:hover {
    background-color: rgb(255,156,159);}

nav ul.menu li.active a{
    background-color: #2B4F5C;
}

}

/*end of desktop rules*/
.keepOpen {clear:both;}

/* Main starts here*/

main {background-color: mistyrose;
        margin: 20px;
        padding: 10px;
        background: linear-gradient(#fbc5bc 25%,#fea4a4 75% );
        box-shadow: 3px 3px 12px black inset;
        
        
}

main h1 {color:#2B4F5C; 
        padding: 8px;
        text-decoration: underline;
        text-indent: 25%;
        text-shadow: 1px 1px 3px #000;
}

main p {margin: 15px
    
}



main ul.shop {
    color:dodgerblue;
}
    
main ul.shop li{
 background-image:url(images/1decorate.png);
    background-repeat: no-repeat;
    background-size:contain;
    list-style-type: none;
    padding-left: 30px;
    
     
} 


main dl.tutorials {
    color:firebrick;
    border: solid 1px grey;
    border-radius: 10px;
        margin: 20px;
        padding: 20px;
        background-color: white;}


.map {
    width:100%;
    height: 20rem;
    border: none
    
}

.video {
    width: 90%;
    height: 20rem;
    margin-left: 5%;
    border: none;
}


table.table {
    box-shadow: 1px 3px 10px #456; 
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
}

table.table th {
    background-color: #BBF2D3;
    color: black;
    padding: .5rem;
}

table.table tr {
    background-color: #2B4F5C;
    color: azure;  
}

table.table td {
    padding: .9rem;
    border-bottom: solid white 3px;
    
}

table.table tr:nth-child(even) {
    background-color:dodgerblue;
}
table.table tr:hover {
    background-color: black;
}

form.contact fieldset {
    border: 2px solid #2B4F5C;
    border-radius: 1rem;
    padding: 1rem 2%;
}

form.contact 
 legend {
    font-size: 1rem;
    color: #2B4F5C;
    }

form.contact label {
    display: block;   
}
form.contact span {
    display: block;
    padding-top: 1rem;
    color: #2B4F5C;
    font-size: .8rem;
    
}

form.contact select{
    display: block;
}
form.contact .name {
    color: darkslategrey;
    background-color: ghostwhite;
    border: 1rem;
    padding: .5rem;
    width: 50%
}
form.contact .comment {
    width: 50%;
}

form.contact .button {
    background-color: #BBF2D3;
    margin: 1px 2px;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: solid 1px black;
    
}



/* Styling Images*/

figure.homephoto {
    margin: 0 0 0 2%;
    padding: .5em;
    float: right;
    border: 1px solid #999;
    width: 40%;    
}

figure.homephoto img {
    width: 100%;
}

main div.shopgallery {
    display:flex;
    flex-wrap:wrap;
    
}